@import "tailwindcss";

:root {
  --background: rgb(0, 128, 128);
  --foreground: #171717;
  --background-image: url("../../public/wallpaper.jpg");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: "ms_sans_serif";
  src: url("../../node_modules/react95/dist/fonts/ms_sans_serif.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ms_sans_serif";
  src: url("../../node_modules/react95/dist/fonts/ms_sans_serif_bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

body {
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--foreground);
}
